[Desktop Entry]
Encoding=UTF-8
Name=UNIGRID
Comment=UNIGRID P2P Cryptocurrency
Comment[fr]=UNIGRID, monnaie virtuelle cryptographique pair à pair
Comment[tr]=UNIGRID, eşten eşe kriptografik sanal para birimi
Exec=unigrid-qt %u
Terminal=false
Type=Application
Icon=unigrid128
MimeType=x-scheme-handler/unigrid;
Categories=Office;Finance;
