todo.txt
reset-files.bash

*.tar.gz

*.exe
daemon/unigridd

# electron
wallet/node_modules
wallet/yarn.lock
wallet/yarn-err0r.log
wallet/dist

.vscode
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.unigrid
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Mac specific
.DS_Store

nohup.out
keys
