.createMasternodeContainer {
  border-radius: 5px;
  border: 1.5px solid var(--border--active);
  background-color: var(--select--background);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--fontFamily);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.createMasternodeContainer svg {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.15);
}

.createMasternodeContainer svg:hover {
  transform: scale(1.5);
  color: lawngreen;
}

.createMasternodeContainer svg:active {
  transform: scale(0.5);
  color: #fff;
}

.masternode--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.masternode--item > div {
  padding-right: 10px;
}

.close-btn {
  padding-left: 5px;
  display: flex;
  padding-right: 20px;
  align-self: flex-end;
  max-height: 19px;
}

.masternode--button--padding {
  padding: 10px;
}

.scroll--box {
  width: 550px;
  height: 300px;
  color: green;
  background: #000000;
  border-radius: 10px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: pre-wrap;
}

.debug--info{
  color: green;
  background: #000000;
  border-radius: 10px;
  width: 25%;
}

.terminal--enterfield {
  overflow-y: hidden;
}
.terminal--enterfield > * {
  border-radius: 10px;
  line-height: 2em;
  max-height: 40px;
}

.copy--masternode--output {
  font-size: small;
  color: green;
  display: flex;
  flex-direction: row;
  padding: 5px;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  border: 1.5px solid var(--border--active);
  border-radius: 5px;
  min-height: 40px;
  background-color: var(--select--background);
}

.display--box--container {
  padding: 10px;
  width: 98%;
  min-height: 230px;
  border-radius: 10px;
  background-color: var(--container--background);
  border: 1.5px solid #4e4e4e;
}
