[Unit]
Description=UNIGRID's distributed currency daemon
After=network.target

[Service]
User=unigrid
Group=unigrid

Type=forking
PIDFile=/var/lib/unigridd/unigridd.pid

ExecStart=/usr/bin/unigridd -daemon -pid=/var/lib/unigridd/unigridd.pid \
          -conf=/etc/unigrid/unigrid.conf -datadir=/var/lib/unigridd

ExecStop=-/usr/bin/unigrid-cli -conf=/etc/unigrid/unigrid.conf \
         -datadir=/var/lib/unigridd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
